footer{
   
    position: relative;
    bottom: 0;
    background-color: black;
    color: white;
    height: 10%;
    padding: 25px 0px ;
    width: 100%;
    text-align: center;
}

footer ul {
    list-style: none;
    font-size: x-large;
}