
h1.title{
    text-align: center;
}

ul.songs{
list-style: none;

}

ul.songs li{
    display: grid;
    grid-template-columns: 7% 33% 33% 22% 5%;
    margin: 20px;
}
ul.songs .first_label{
    border-style: ridge;
    border-bottom-color: rgb(0, 163, 122);
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 10px;
   
}
div.songs{
    margin: 50px;
    font-size: 20px;
}

button.env_messages{
    border:none;
    background-color: rgb(125, 240, 165);
    height: 25px;
}