@font-face {
  font-family: "Gotham Medium";
  src: url("./fonts/Gotham_Medium.otf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gotham Medium";
}

a {
  text-decoration: none;
  color: black;
}

body {
  min-height: 100%;
}

@-webkit-keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@-webkit-keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@-webkit-keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-bottom: 40%;
  -webkit-perspective: 100px;
          perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  height: 100%;
}

.carousel__slide {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  background-image: url(../Spoty_Logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__slide:nth-child(even) {
  background-image: url(../imagen2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__slide:nth-child(odd) {
  background-image: url(../imagen3.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -40%, 70px);
          transform: translate3d(-50%, -40%, 70px);
  color: white;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    -webkit-animation-name: tonext, snap;
            animation-name: tonext, snap;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .carousel__slide:last-child .carousel__snapper {
    -webkit-animation-name: tostart, snap;
            animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    -webkit-animation-name: none;
            animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  -webkit-animation-name: none;
          animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

div#login {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

div#welcome {
  font-size: 40px;
  font-weight: bold;
}

div#middle {
  height: 300px;
  margin: 10px;
  background-color: white;
}

form.logueo button {
  width: 25%;
  padding: 2px 2px;
  margin: 10px 0%;
  margin-left: 55%;
  display: inline;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #00922d;
  font-size: 18px;
  color: wheat;
}

form.logueo input[type="text"], form.logueo input[type="password"] {
  width: 50%;
  padding: 2px 5px;
  margin: 10px 0px;
  margin-left: 30%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  position: relative;
  bottom: -70%;
  background-color: black;
  color: white;
  height: 10%;
  padding: 25px 0px;
  width: 100%;
  text-align: center;
}

footer ul {
  list-style: none;
  font-size: x-large;
}

div#intro {
  text-align: right;
  margin: 20px;
  margin-bottom: 100px;
}

div#intro img {
  border-style: solid;
  border-radius: 10px;
  border-color: #9ee9b8;
  margin-right: 1.5%;
}

div#wel {
  margin: 5px;
}

div#list {
  text-align: center;
  padding: 10px 0px;
  display: -ms-grid;
  display: grid;
  border-style: solid;
  border-radius: 10px;
  margin: 5px;
  grid-auto-rows: 50px;
}

h1.title {
  text-align: center;
}

ul.songs {
  list-style: none;
}

ul.songs li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30% 5%;
      grid-template-columns: 30% 30% 30% 5%;
  margin: 20px;
}

ul.songs .first_label {
  border-style: ridge;
  border-bottom-color: #00a37a;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 10px;
}

div.songs {
  margin: 50px;
  font-size: 20px;
}

button.env_messages {
  border: none;
  background-color: #7df0a5;
}

.title {
  text-align: center;
}

ul.comments {
  list-style: none;
}

ul.comments li {
  border-style: solid;
  border-color: rgba(10, 124, 0, 0.774);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 93% 5%;
      grid-template-columns: 93% 5%;
  -ms-grid-rows: 30% 20%;
      grid-template-rows: 30% 20%;
  border-width: 5px;
  border-radius: 10px;
  padding: 1%;
  margin: 5px;
}

form.comments {
  margin-top: 5px;
}

form.comments textarea {
  border-color: #66f309;
  border-radius: 20px;
}

form.comments button {
  border-color: #66f309;
  border-radius: 5px;
  padding: 0px 10px;
  margin-left: 100%;
}

div.puntuation {
  text-align: left;
}

button.positives, button.negative {
  border: none;
  font-size: larger;
}

div.user {
  margin: 0px;
}

div.comments {
  margin: 50px;
  font-size: 20px;
}

div.oldcomments {
  background-color: white;
  border-style: solid;
  border-color: #66f309;
  border-radius: 15px;
  height: 100px;
  width: 97%;
}

div.content {
  text-align: center;
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */