<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type='text/css' href="../style.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <title>Logeado</title>
</head>

<body style="background-color:rgb(29, 185, 84);" >
 
    <div id="intro_editar" >
        <img src="{{ImageUser}}" alt="Imagen Usuario" width="100px" height="100px"> <div>Bienvenido {{User}} </div>
        <div id="edit">Editar Perfil</div>
        </div>

        <div>
            <form action="#" method="post" >
                <label for="email"> Email</label>
                <input type="text" name="email" id="email">
                <label for="Username">Nombre de Usuario</label>
                <input type="text" name="Username" id="user">
                <label for="password">Contraseña</label>
                <input type="text" name="password" id="pass">
                <button type="submit">Guardar cambios</button>
            </form>
        </div>
 <footer>
      <ul>
          <li>
            Acerca De
          </li>
          <li>
            Licencias Y Permisos
          </li>
          <li>
            Contacto
          </li>
      </ul>
    </footer>
</body>
</html>